
.modal {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.25);
    display: none;
    justify-content: center;
    align-items: center;
}

.modal.is-open {
    display: flex;
}

.modal-container {
    position: relative;
    padding: 1rem;
    width: auto;
    height: auto;
    overflow-y: auto;
    background-color: #ecf0f3;
    color: #555;
    border: 1px solid black;
    border-radius: 20px;
    box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #fff;

}

.modal-close {
    position: absolute;
    top: 1rem;
    right: 1rem;
}

