.init{
  justify-content: center;
  background-color: #313131;
  /* min-height: 100vh; */
  /* background-color: #971d1d; */
}

.init_tittle {
  color: #f1f1f1;
  width: 90%;
  text-align: left;
  margin-left: 10%;
  margin-top: -0.79em;
  padding: 1em;
  box-sizing: border-box;
  /* background-color: #971d1d; */

}

.form_cnt {
  /* background-color: #dfa7a7; */
  margin-left: 10%;
  width: 90%;
  padding: 0;
  height: 100vh;
}

.div {
  /* background-color: rgb(92, 133, 120); */
}

.show {
  /* background-color: rgb(172, 117, 174); */
  
}

.btn-color{
  background-color: #0e1c36;
  color: #fff;
  
}



.img_cnt {
  /* background-color: #2377d7; */

}

.profileImagePic{
  height: 150px;
  width: 150px;
  object-fit: cover;

}

.cardbody-color{
  background-color: #ebf2fa;
}

.link{
  cursor: pointer;
}
.link:hover{
  color: var(--btn-background-color)
}

.btn_sub {
  border-radius: 16px;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  text-decoration: none;
  color: #000000;
  
  font-weight: 600;
  width: 10em;
  background-color: #e7e6de;
  height: 1.5em;
  border: none;
  
  padding: .5em;
  transition: .3s;  
}

.btn_sub:hover {
  background-color: #aeaea9;
  color: #1c1c1c;
}

/* a{
  text-decoration: none;
} */