.navlink{
  border-radius: 10px;
  font-family: var(--font-family-1);
  font-size: 1.4rem;
  color:#ffffff;
  text-decoration: none;
  margin: 0 1rem;
  transition: all 0.3s ease;
  padding: 0.5rem 0;
  cursor: pointer;
  background-color: #ff0400;
  border: none;
}

.navlink:hover{
  background-color: #03EFFE;
  color: var(--btn-background-color);
}
