.explorar {
    background-color: #404040;
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: flex-end;
}

.searchFilter {
    width: 90%;
    display: flex;
    margin-left: 10%;
    height: 4.5em;
    position: fixed;
    background-color: #313131;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    z-index: 1;
    top: 0;
}

.filtersContainer{
    width: 100%;
    display: flex;
    margin: 15px 0 15px 0;
    justify-content: flex-end;
    align-items: center;
    grid-gap: 16px;
    gap: 30px;
}


.divPagination{
    display: contents;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: 8px;
    animation: show 3s;
}

.header{
    padding: 5px;
    color: white;
    font-size: 18px;
    background-color: #91091E;
    /* background-color: var(--background-color); */
}

/* @keyframes show{
    from{
        opacity: 0
    }to{
        opacity: 100
    }
} */

.containerProducts{
    /* background-color: #91091E; */
    width: 90%;
    padding: 10em;
    display: grid;
    gap: 15rem 0;
    grid-auto-rows: 20rem;
    margin-left: 10%;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 31rem), 1fr));
}

.image{
    max-height: 350px;
    width: 100%;
    object-fit: cover;
}

.image2{
    max-height: 300px;
    width: 85%;
    object-fit: cover;
    margin-bottom: 25px;
}

.sectionCards{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2px
}

.buttonLeft, .buttonRight{
    font-weight: bolder;
    width: 30px;
    cursor: pointer;
    height: 30px;
}

.buttonLeft:hover, .buttonRight:hover{
    transition: .3s;
    transform: scale(1.3);
}
.sectionImage{
    object-fit: cover;
    width: 100%;
    height: 350px;
}



.footer{
    animation: footerAnimation 2s;
}

@keyframes footerAnimation{
    0%{
        opacity: 0
    }
    25%{
        opacity: 0
    }
    100%{
        opacity: 100
    }
}

@media (max-width: 992px){
    .image2{
        max-height: 275px;
        width: 90%;
    }
    .filtersContainer{
        display: flex;
        flex-direction: column;
    }
    .sectionImage{
        height: 300px;
    }
}

@media (max-width: 576px){
    .image2{
        max-height: 200px;
        width: 100%;
    }
    .sectionImage{
        height: 220px;
    }
}