.home {
    /* background-color: rgb(184, 48, 48); */
    background-color: #404040;
    width: 100%;
    min-height: 100vh;
    margin: 0 auto;
    display: flex;
    padding: 3em 0;
    justify-content: center;
    /* margin-left: 12em; */

}


.home-cnt {
    /* padding: 0 16em; */
    width:87%;
    margin: 0 auto;
    margin-left: 13em;
    margin-top: 400px
}

.home-popGame{
    /* margin: 0  auto; */
    display: flex;
    justify-content: center;
    margin-top: 40px;
    padding-bottom: 40px;
    /* border-bottom: 1px solid black; */
}

.home-popGame h2 {
    font-size: 6em;
}

.description {
    width: 50%;
    margin: 1em 3em 1em;
    padding: 1em;
    background-color: rgb(222, 221, 221);
    border-radius: 20px;
}

.description-Game {
    margin-right: auto;
}

.titleGame {
    font-size: 30px;
}



.gifPOP {
    border-radius: 20px;
    width: 100%;
    height: 500px;
}

.home-allgame {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 5px 15px;
}

.gif {
    width: 100%;
    height: 300px;
    border-radius: 20px;
    border: 3px solid black;
}
.title{
    display: flex;
    padding: 10px;
}
.container{
    display: flex;
    align-items:center;
    min-height: 40vh;
}
.card-container{
    display: flex;
    width: 600px;
    height: 300px;
    background-color: rgb(4, 4, 4);
    border-radius: 16px;
  }
  