.update {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 160px 160px 160px;
    grid-template-rows: repeat(6, auto);
    grid-template-areas: 'a a a a a a'
                         'b b b d d d'
                         'c c c d d d'
                         'e e e d d d'
                         'f f f d d d'
                         'g g g g g g';
    gap: 1.5rem;

    border-radius: 20px;
    padding: 1rem;
    background-color: #ecf0f3;
    color: #555;
    border: 1px solid black;
    box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #fff;
}

.update-input {
    font-size: 1.4rem;
    display: flex;
    border-radius: 10px;
    padding: 1rem;
    background-color: #ecf0f3;
    color: #555;
    border: 1px solid black;
    box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #fff;
}

.update-input-title {
    grid-area: a;
}


.update-input-name {
    grid-area: b;
}

.update-input-description {
    grid-area: c;
}

.image-update {
    grid-area: d;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: none;
    border-radius: 30px ;
    background-color: aquamarine;
    padding: 0;
    overflow: hidden;
}
.update-input-image {
    grid-area: e;
    
}

.update-input-categories {
    grid-area: f;
}

.update-input-create {
    grid-area: g;
    cursor: pointer;
    color: #fff;
    background-image: linear-gradient(270deg, rgb(255, 255, 255), #02c8db);
    box-shadow: inset 3px 3px 8px #b1b1b1, inset -3px -3px 8px #ffffff;
    border: none;
    justify-content: center;
}