.title3 {
  display: flex;
  padding: 10px;
  justify-content: center;
  margin-right: 800px;
}

.img {
  border: 2px solid black;
  border-radius: 200px;
  height: 250px;
  width: 250px;
}

.divPicture {
  z-index: 1;
  position: absolute;
  left: 800px;
  top: 170px;
}

.divform {
  margin-right: 900px;
}

.divcentral {
  display: inline-flex;
}

.textarea {
  border: 1px solid black;
  border-radius: 10px;
  width: 500px;
  height: 30px;
  margin-right: 450px;
}

.textareabio {
  border: 1px solid black;
  border-radius: 10px;
  width: 500px;
  height: 100px;
  margin-right: 450px;
}

.button {
  margin: 10px;
  margin-right: 850px;
}
