.send{
  color: #ff0400;
  font-size: 1.5rem;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  
}
.card_sign  {
  display: flex;
  align-items: center;
  
}

.form_cnt {
  
  background-color: #313131;
}

  
.form_label {
  color: #f1f1f1;
}