.general{

    line-height: 1.2;
    display: flex;
    gap: 15px;
    color: #170000; 
    font-size: 1.2rem;
    font-weight: 500;
    margin-inline: 10px;
    align-content: space-around;
    justify-content: center;

}
.selects{
    display: flex;
    text-align: left;
    border-bottom: 1px solid rgba(173, 167, 167, 0.744);
}
.filtros{
    justify-content: center;
    border-radius: 16px;
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    text-decoration: none;
    gap: 10px;
    width: 2em;
    height: 1.5em;
    background-color: #03EFFE;
    color: #000;
    border: none;
    margin: 1.5em 0;
}
.filtros:hover{
    color: #fefefe;
    background-color: #05cedd;
    transition: .3s;    
}
.optSelect{
    display: flex;
    margin-inline: 10px;
    font-weight: 500;
    border-radius: 5px;
    width: 200px;
    padding: 10px;
    outline: none;
    color: #7a7978;
    border: none;
    align-content: space-around;
    cursor: pointer;
    background-color: #fefefe;
    border-bottom-color: 1px solid #b9b3af;
}
.optSelect:hover{
    background-color: #eceaea;
    font-weight: 500;
    transition: .3s;
}

.limpiarFiltros{
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    text-decoration: none;
    color: #000000;
    gap: 10px;
    font-weight: 500;
    width: 5em;
    height: 1.5em;
    background-color: #e7e6de;
    border: none;
    margin: 1.5em 0;
    padding: .5em;
}


.limpiarFiltros:hover{
    color: #000000;
    background-color: #d1d0ca;
    transition: .3s;
}

@media (max-width: 992px) {
    .general{
        flex-direction: row;
    }
} 
