.navbar {
    width: 10%;
    min-height: 100vh;
    background-color: #232323;
    display: flex;
    position: fixed;
    margin: 0;
    padding: 0;
    top: 0;
    /* z-index: 10000; */
    box-sizing: border-box;
}

.navbar-ul {
    /* background-color: rgb(214, 0, 0); */
    width: 80%;
    min-height: 90vh;
    margin: 5em auto;
}

.navbar-ul ul {
    list-style-type: none;
    /* background-color: rgb(101, 94, 94); */
    display: flex;
    flex-direction: column;
    padding: 1em 0;
    width: 100%;
    height: 70vh;
}

.navbar-ul .ul-link {
    width: 100%;
    margin: .5em auto;
    text-decoration: none;
    
}

.navbar-ul .ul-link:hover {
    background-color: #d9d9d9a1;
    color: #FFF;
}

.navbar-ul .ul-link:focus-within {
    background-color: #d9d9d9a1;
}

.navbar-ul ul li {
    width: 100%;
    /* background-color: aqua; */
    height: 2.5em;
    text-align: left;
    font-size: 1.3em;
    font-weight: bold;
}

.navbar-ul ul li p {
    /* background-color: rgb(88, 75, 75); */
    display: flex;
    flex-direction: column;
    height: 2.5em;
    justify-content: center;
}